server:
  port: 7001
  error:
    include-message: always
spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  data:
    mongodb:
      host: localhost
      port: 27017
      database: product-db

logging:
  level:
    root: INFO
    se.magnus: DEBUG